<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.web.emp.EmpDAO">

	<select id="getEmpList" resultType="map">
			SELECT		EMPLOYEE_ID,
						FIRST_NAME,
						LAST_NAME,
						SALARY
			FROM		HR.EMPLOYEES			
			ORDER 		BY EMPLOYEE_ID		
		
	</select>

	

</mapper>
